/* category.tpl */
body#category #subcategories li { height: 116px; width: 108px; margin-right: 3px }
div.cat_desc { margin: 0 1em }
body#category div#subcategories .inline_list a img { display: inline; border: solid 1px #988C6E }
body#category div#subcategories .inline_list a.category_img_link { text-decoration: none }
#category img#categoryImage { margin-top: 1em; border: 1px solid #988C6E }