DIV#info
{
	position: relative;
	margin-left: 190px;
	margin-top: 75px;
	width: 600px;
}
DIV#panelss
{
	position: relative;
	margin: 95px 0 0 420px;
	width: 540px;
}
#shopping_cart
{
	float: right;
	position: absolute;
	margin: 30px 0 0;
}
.sf-contener
{
	clear: both;
	margin: -70px 0 1px;
	height: 40px;
	line-height: 40px;
	padding-left: 100px;
	font-family: BetinaScriptRusBold;
	background: transparent url("../gfx/menu/menu_background.png") no-repeat top left;
	position: relative;
}
DIV#homefreeblock_left
{
	margin: 20px 0 0;
}
