/* block top links */
ul#header_links {
	margin: 0em 0.3em 24px 0;
	list-style-type: none;
	float: right
}
#header_links li {
	float: left;
	width: 84px
}
#header_links a {
	display: block;
	height: 15px;
	color: #493636;
	text-align: center;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: transparent
}
#header_links a:hover {
	text-decoration: underline
}