/*Block editorial*/
.editorial_block
{
	margin-bottom: 1px;
	margin-right: 1px;
	float: left;
	background: #9C9B9A;
}
.editorial_block .rte
{
	background: transparent none repeat scroll 0 0;
	margin: 0;
}
.editorial_block H1
{
	background: none;
	padding: 0;
	margin-bottom: 0;
}
.editorial_block H2
{
	font-size: 1.1em;
	margin: 1em 0;
	text-transform: none;
	line-height: 1.2em;
	padding: 0;
	padding-bottom: 10px;
	background: none;
	color: #5D717E;
}
.editorial_block P
{
	padding-top: 0.4em;
}
#editorial_block_center P
{
	padding-left: 0;
}
#editorial_image_legend
{
	color: #AAAAAA;
	font-size: 6pt;
	font-style: italic;
	margin: 0;
	padding-left: 0;
	text-align: center;
}
